.#*
\#*\#
*~
projectile-bookmarks.eld
elpa/
elisp/
ido.last
configuration.el
eshell/
auto-save-list/
ac-comphist.dat
custom-settings.el
transient/
request/
projectile.cache
network-security.data
straight/build
straight/repos
straight/build-cache.el
org-persist
.org-id-locations